body{
    background-image: url(pic2.jpg.jpg);
    background-size: cover;
    box-sizing: border-box;
    font-family: sans-serif;
    
}
.navbar{
    background-color: hwb(103 2% 90% / 0.199);
    text-align: center;
    box-sizing: border-box;
    border-radius: 20px;
    height: 90px;
    
}
.navbar tr{
    color: #fff;
}
.navbar tr td{
    width: 90px;
    margin-right: 15px;
    padding-right: 15px;
}
.navbar tr td a{
    text-decoration: none;
    color: chocolate;
    line-height: 90px ;
}
.navbar2{
    background-color: rgba(23, 46, 23, 0.349);
    margin: 0%;
    padding: 0%;
}
.navbar #op img{
    line-height: 90px;
    box-sizing: border-box;
    border-radius: 120px;
}
.text{
    text-align: center;
}
div #text{
    width: 200px;
    height: 200px;
    border: 10px solid red;
}




